.App {
  max-width: 700px;
  margin: 30px auto;
  background-image: url("https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  text-align: center;
}
.bg-image {
  background-image: url("https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
}
